#FS
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_GFS2_F=n
CONFIG_OCFS2_FS=n
CONFIG_BTRFS_FS=y
CONFIG_XOR_BLOCKS=y
CONFIG_CRYPTO_BLAKE2B=y
CONFIG_CRYPTO_XXHASH=y
CONFIG_RAID6_PQ=y
# RTC
CONFIG_RTC_DRV_ABX80X=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_DRV_DS1374=n
CONFIG_RTC_DRV_DS1672=n
CONFIG_RTC_DRV_MAX6900=n
CONFIG_RTC_DRV_RS5C372=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_RTC_DRV_ISL12022=n
CONFIG_RTC_DRV_X1205=n
CONFIG_RTC_DRV_PCF8523=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_RTC_DRV_PCF8563=n
CONFIG_RTC_DRV_PCF8583=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RTC_DRV_S35390A=n
CONFIG_RTC_DRV_FM3130=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_RTC_DRV_RX8025=n
CONFIG_RTC_DRV_EM3027=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_RTC_DRV_RV3032=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_RTC_DRV_SD3078=n
CONFIG_RTC_DRV_M41T93=n
CONFIG_RTC_DRV_M41T94=n
CONFIG_RTC_DRV_DS1302=n
CONFIG_RTC_DRV_DS1305=n
CONFIG_RTC_DRV_DS1390=n
CONFIG_RTC_DRV_R9701=n
CONFIG_RTC_DRV_RX4581=n
CONFIG_RTC_DRV_RS5C348=n
CONFIG_RTC_DRV_MAX6902=n
CONFIG_RTC_DRV_PCF2123=n
CONFIG_RTC_DRV_DS3232=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_RTC_DRV_RV3029C2=n
#UNIPI
CONFIG_RTC_DRV_UNIPI=m
CONFIG_UNIPI=m