[Unit]
Description=Chik client application

[Service]
Type=simple
ExecStart=/usr/bin/chik-client -config /media/

[Install]
WantedBy=multi-user.target
